@page
@model MilkBabyRazorWebApp.Pages.OrderItemPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderItem.OrderItemId" />
            <div class="form-group">
                <label asp-for="OrderItem.OrderId" class="control-label"></label>
                <select asp-for="OrderItem.OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="OrderItem.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.ProductId" class="control-label"></label>
                <select asp-for="OrderItem.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="OrderItem.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Quantity" class="control-label"></label>
                <input asp-for="OrderItem.Quantity" class="form-control" />
                <span asp-validation-for="OrderItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Price" class="control-label"></label>
                <input asp-for="OrderItem.Price" class="form-control" />
                <span asp-validation-for="OrderItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Discount" class="control-label"></label>
                <input asp-for="OrderItem.Discount" class="form-control" />
                <span asp-validation-for="OrderItem.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Tax" class="control-label"></label>
                <input asp-for="OrderItem.Tax" class="form-control" />
                <span asp-validation-for="OrderItem.Tax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.TotalPrice" class="control-label"></label>
                <input asp-for="OrderItem.TotalPrice" class="form-control" />
                <span asp-validation-for="OrderItem.TotalPrice" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="OrderItem.OrderItemCreatedDate" />
         @*    
            <div class="form-group">
                <label asp-for="OrderItem.OrderItemUpdatedDate" class="control-label"></label>
                <input asp-for="OrderItem.OrderItemUpdatedDate" class="form-control" />
                <span asp-validation-for="OrderItem.OrderItemUpdatedDate" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
